@font-face {
    src: url('./ravie.TTF');
    font-family: 'Ravie';
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    height: 61px;
    width: 100%;
    user-select: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px; /* qqqqqqqqqqqqqq */
    border: 1px solid red; /* qqqqqqqqqqqqqq */
}
#Menu {
    cursor: pointer;
}
#Cart {
    cursor: pointer;
}
h1 {
    font-family: 'Ravie';
    font-size: 40px;
    line-height: 53px;
    cursor: default;
}
h1 > span:first-child {
    color: #FFB800;
}
h1 > span:nth-child(2) {
    color: #244827;
}
h1 > span:last-child {
    color: #0368FF;
}
#SliderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#SliderContainer > .sliderImages {
    display: flex;
    width: 100vw;
    height: 700px;
}
#SliderContainer > .sliderImages > img {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 700px;
    transition: opacity 1s linear;
}
#SliderContainer > .sliderImages > img.active {
    opacity: 1;
}
#SliderContainer > .arrow {
    position: absolute;
    font-size: 80px;
    background: #70707096;
    line-height: 100%;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    transition: background-color .2s linear;
}
#SliderContainer > .arrow:hover {
    background: #707070;
}
#SliderContainer > .arrow.arrowLeft {
    left: 0;
}
#SliderContainer > .arrow.arrowRight {
    right: 0;
}

.filter {
    background-color: #DAFFEF;
    padding: 10px 20px;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #0500FF;
    text-transform: uppercase;
}
.filter input {
    display: none;
}
.filter > span {
    margin-left: 30px;
}
.filter > span:first-child {
    margin-left: 0;
}
.filter label {
    cursor: pointer;
}
.filter input[type=radio]:checked + label  {
    color: red
}